<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="margin: 0 auto">
      <h1>Register Page</h1>
      <div>
        <input type="text" placeholder="Enter your email" /> <br />
        <br />
        <input type="password" placeholder="Enter password" /><br />
        <br />
        <button>Login</button>
      </div>
    </div>
  </body>
</html>
