<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Register Form</h1>
    <form action="/register" method="post">
      <div>
        <label for="name">Full Name:</label>
        <input type="text" name="fullname" />
      </div>
      <div>
        <label for="age">Age</label>
        <input type="number" name="age" />
      </div>
      <button>Submit</button>
    </form>
  </body>
</html>
